body{
  background: url("http://intranet.pronabec.edu.pe/Content/themes/nuna_int/img/fondo_asistencia.png");
}
.todoContainer{
  width: 500px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  border: solid 1px rgb(147, 191, 216);
  background-color: rgb(229, 234, 239);
  box-shadow: 1px 1px 20px rgb(196, 220, 234);
}

.todoCreateForm{
  display: flex;
}

.txtCabecera{
  display: flex;
  justify-content: center;
}

.todoInputNombre{
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  margin-right: 30px;
  border-radius: 5px;
  border: solid 1px #999;
}

.todoInputNota{
  flex-grow: 1;
  width: 30%;
  padding: 10px;
  margin: 0 30px;
  border-radius: 5px;
  border: solid 1px #999;
}

.todoInputNombreEdit{
  flex-grow: 1;
  width: 70%;
  padding: 10px;
  margin-right: 30px;
  border-radius: 5px;
  border: solid 1px #999;
}

.todoInputNotaEdit{
  flex-grow: 1;
  width: 20%;
  padding: 10px;
  margin: 0 30px;
  border-radius: 5px;
  border: solid 1px #999;
}

.buttonCreate{
  border: none;
  border-radius: 5px;
  background-color: rgb(67, 165, 97);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.buttonCreate:hover{
  background-color: rgb(84, 189, 115);
}

.todosContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.todo{
  padding: 10px;
  background-color: white;
}

.todoNombre{
  flex: 1;
  font-size: 20px;
}

.todoNota{
  flex: 1;
  font-size: 20px;
}

.todoButton{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}

.todoButtonEdit{
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
}

.todoNombre,
.todoNota{
  margin: 10px 0;
}

.todoInfo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
  margin: 8px 0;
}

.todoUpdateForm{
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}

.todoInfoHead{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
  border: solid 1px #000;
  border-radius: 5px;
}

.tableNotas {
  display: grid;
  margin-top: 20px;
}

.button{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 122, 221);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 2px;
}
.button:hover{
  background-color: rgb(113, 153, 232);
}

.buttonDelete{
  border: none;
  border-radius: 5px;
  background-color: rgb(169, 26, 26);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 2px;
}
.buttonDelete:hover{
  background-color: rgb(197, 60, 60);
}
